<!-- edit user information form -->
<div class="input-form">

	<%= form_for @user do |f| %>

		<% @user.errors.each do |error| %>
			<p><%= error %></p>
		<% end %>

			<%= f.label :first_name %><br />
			<%= f.text_field :first_name %>

			<%= f.label :last_name %><br />
			<%= f.text_field :last_name %>

			<%= f.label :email %><br />
			<%= f.email_field :email %>

			<%= f.label :phone_number %><br />
			<%= f.telephone_field :phone_number %>

			<%= f.label :membership, "Membership Billing" %>
			<%= f.select :membership, [["$10 per month", "monthly"],["$100 per year","annual"]] %>

			<%= f.submit "Save changes" %>

		<div class"alert">
			<%= flash[ :notice ] if flash[ :notice ] %>
			<%= flash[ :alert ] if flash[ :alert ] %>
		</div>

	<% end %>

</div>