<!-- edit user information form -->

<%= form_for @user do |f| %>

	<% @user.errors.each do |d| %>
		<p><%= d %></p> 
	<% end %>
		
	<div class="field">
		<%= f.label :first_name %><br />
		<%= f.text_field :first_name %>
	</div>	

	<div clas="field">
		<%= f.label :last_name %><br />
		<%= f.text_field :last_name %>
	</div>

	<div clas="field">
		<%= f.label :email %><br />
		<%= f.email_field :email %>
	</div>

	<div clas="field">
		<%= f.label :phone_number %><br />
		<%= f.telephone_field :phone_number %>
	</div>

	<div class="submit"><%= f.submit "Save changes" %></div>

	<div class"alert">
		<%= flash[ :notice ] if flash[ :notice ] %>
		<%= flash[ :alert ] if flash[ :alert ] %>
	</div>

<% end %>