<!-- signup user form -->

<%= form_for @user do |f| %>

	<%= f.label :first_name %><br />
	<%= f.text_field :first_name %>

	<%= f.label :last_name %><br />
	<%= f.text_field :last_name %>

	<%= f.label :email %><br />
	<%= f.email_field :email %>

	<%= f.label :phone_number %><br />
	<%= f.telephone_field :phone_number %>

   <%= f.label :password %><br />
   <%= f.password_field :password %>

   <%= f.label :password_confirmation %><br />
   <%= f.password_field :password_confirmation %>

	<%= f.label :membership, "How often would you like to pay for your membership?" %><br />
	<%= f.select :membership, [["$10 per month", "monthly"],["$100 per year","annual"]] %>

	<%= f.submit "Create User" %></div>

	<div class"alert">
		<%= flash[ :notice ] if flash[ :notice ] %>
		<%= flash[ :alert ] if flash[ :alert ] %>
	</div>

<% end %>