<div class="user">

	<h1>Users</h1>

	<% if current_user %>
		<p>Currently active users: <%= current_users_list %></p>
	<% end %>

	<% @users.each do |user| %>
		
		<ul class="user-info">
			<li><strong><%= user.first_name %> <%= user.last_name %></strong></li>
			<li class="role"><%= user.role %></li>
			<li class="email"><%= mail_to user.email %></li>
			<li class="phone-number"><%= user.phone_number %></li>
	  </ul>

	<% end %>

</div>
