<h2 class="title">Users</h2>

	<div class="catalogue">

		<% @users.each do |user| %>
		
			<div class="user-card">	
				<ul class="user-info">
					<li><strong><%= user.first_name %> <%= user.last_name %></strong></li>
					<li><%= user.role %></li>
					<li><%= mail_to user.email %></li>
					<li><%= user.phone_number %></li>
			  </ul>
			</div><!-- end user-card -->

		<% end %>

	</div><!-- end .catalogue -->
