<h2><%= @user.first_name %> <%= @user.last_name %></h2>

<%= render 'admin_nav' %>

<p>
	Role: <%= @user.role %><br />
	Email: <%= @user.email %><br />
	Phone Number: <%= @user.phone_number %>
</p>

<nav class="user-nav">
	<ul>
		<li><%= link_to "Check Outs", check_outs_path( user_id: @user.id, due_only: "true" ) %></li>
		<li><%= link_to "Holds", holds_path( user_id: @user.id ) %></li>
		<li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
	</ul>	
</nav>