<% if @transactions.sum(&:amount) > 0 %>
	<h3>You owe <%= number_to_currency(sprintf("%.2f", @transactions.sum(&:amount).to_f / 100)) %></h3>
	<%= button_to "Pay Owing", new_charge_path(@user), :method => 'get' %>
<% end %>
<%= button_to "Edit Profile", edit_user_path(@user.id) %>
<div class="user-card">
	<p><strong><%= @user.first_name %> <%= @user.last_name %></strong></p>
	<p class="role"><%= @user.role.capitalize %></p>
	<p class="email"><%= mail_to @user.email %></p>
	<p class="phone-number"><%= @user.phone_number %></p>
</div>

<div class="user-card">
	<h3>Deposit</h3>
	<p>You have <%= number_to_currency(sprintf("%.2f", @user.current_deposit.to_f / 100)) %> left in your deposit.</p>
</div>

<div class="user-card">
	<h3>Fines</h3>
	<p>Total unsettled fine amount is <strong><%= number_to_currency( @total_fine / 100.0 ) %></strong></p>
</div>

<div class="user-card">
	<h3>Holds</h3>
	<%= render partial: '/holds/holds', locals: {  user_holds: @holds } %>
</div>

<div class="user-card">
	<h3>Current Check Outs</h3>

	<% if @current_check_outs.any? %>
		<% @current_check_outs.each do |check_out| %>
			<%= render partial: '/check_outs/checked_book', locals: { check_out: check_out }  %>
		<% end %>
	<% elsif %>
		No current check outs for this user
	<% end %>
</div>

<div class="user-card">
	<h3>Past Check Outs</h3>

	<% if @past_check_outs.any? %>
		<% @past_check_outs.each do |check_out| %>
			<%= render partial: '/check_outs/checked_book', locals: { check_out: check_out }  %>
		<% end %>
	<% elsif %>
		No past check outs for this user
	<% end %>
</div>