<div class="user">

	<h2><%= @user.first_name %> <%= @user.last_name %></h2>

	<%= render 'admin_nav' %>

	<p class="role">Role: <%= @user.role %></p>
	<p class="email">Email: <%= @user.email %></p>
	<p class="phone">Phone Number: <%= @user.phone_number %></p>

	<%= render 'user_nav' %>

</div>