<ul class="user-info">
	<li><strong><%= user.first_name %> <%= user.last_name %></strong></li>
	<li class="role"><%= user.role %></li>
	<li class="email"><%= mail_to user.email %></li>
	<li class="phone-number"><%= user.phone_number %></li>
</ul>

<nav class="user-nav">
	<ul>
		<li><%= link_to "Check Outs", check_outs_path( user_id: @user.id, due_only: "true" ) %></li>
		<li><%= link_to "Holds", myholds_path( user_id: @user.id ) %></li>
		<li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
	</ul>
</nav>