<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<p>Role: <%= @user.role %></p>
<p>Email: <%= @user.email %></p>
<p>Phone Number: <%= @user.phone_number %></p>

<nav>
	<ul>			  	
		<% if current_user.role == 'admin' %>
			<!--<li><#%= link_to "Checkout", checkout_out_path %></li>-->						
			<li><%= link_to "User Profiles", user_path %></li> 
		<% else current_user.role == 'user' %>
			<li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li> 
		<% end %>
	</ul>
</nav>