<div class="catalogue-search">
	
	<%= search_form_for @search do |f| %>
	  
		<div class="field">
			<%= f.label :title_or_subtitle_or_author_cont, "Search" %>
			<%= f.text_field :title_or_subtitle_or_author_cont %>
			<%= f.collection_select :subject_id_eq, Subject.all, :id, :name, include_blank: true %>
		</div>
			 
	 	<div class="submit"><%= f.submit "Submit" %></div>
		
		<% end %>

</div><!-- end .catalogue-search -->