<div class="catalogue">

	<h2>Catalogue</h2>

	<%= render 'search' %>
  
  <p><%= page_entries_info @books %></p>
	
	<% @books.each do |book| %>

		<div class="book-card">
				
			<h3 class="title"><%= link_to book.title, "/books/#{book.id}" %></h3>
			<p class="author">Author: <%= book.first_name %> <%= book.last_name %></p>
			<p class="description">Description: <%= book.description %></p>
			<p class="subject">Subject: <%= book.subject.name %></p>
			
		</div>
	
	<% end %>

	<%= paginate @books %>

</div><!-- end .catalogue -->