<div class="catalogue">	

	<h2 class="title">Catalogue</h2>

	<%= render 'search' %>

	<p><%= page_entries_info @books %></p>

	<% @books.each do |book| %>

		<div class="book-index">

			<%= image_tag "http://bks4.books.google.ca/books/content?id=#{book.volume_id}&printsec=frontcover&img=1&zoom=1&source=gbs_api" %>

			<div class="data">
				<h4><%= link_to book.title, "/books/#{book.id}" %><br />
				<%= book.subtitle %></h4>

				<p>Author: <%= book.author %><br />
				Category: <%= book.category %><br />
			
			</div><!-- end .data -->	
		</div><!-- end .book-index -->
	
	<% end %>

	<%= paginate @books %>

</div><!-- end .wrapper -->