<div class="catalogue">

	<h2>Catalogue</h2>

	<%= render 'search' %>

  <p><%= page_entries_info @books %></p>

	<% @books.each do |book| %>

		<div class="book-card">

			<%= @book.cover_image %>

			<div class="data">
				<h3><%= link_to book.title, "/books/#{book.id}" %><br />
				<%= book.subtitle %></h3>

				<p><strong>Author:</strong> <%= book.author %><br />
				<strong>Category:</strong> <%= book.category %></p>
				
				<div class="description">
					<p><%= book.description %></p>
				</div>
			
			</div><!-- end .data -->	
		</div><!-- end .book-card -->

	<% end %>

	<%= paginate @books %>

</div><!-- end .catalogue -->