<div class="volume">

	<% @filtered_results["volumes"].each do |result| %>

		<%= form_for Book.new do |f| %>
			
			<div class="title"><%= f.text_field :title, value: result[:title] %></div>
			
			<div class="images">

			<!-- cover_image won't go into database -->

					<%= image_tag "http://bks4.books.google.ca/books/content?id=#{result[:id]}&printsec=frontcover&img=1&zoom=1&source=gbs_api" %>
			
					<%= image_tag "https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=https://books.google.ca/books?id=#{result[:id]}&source=qrcode" %>
			
			</div><!-- end .images -->

			<div class="data">

				<div class="field">
					<%= f.label :author %>
					<%= f.text_field :author, value: result[:author] %>
				</div>

				<div class="field">
					<%= f.label :publisher %>
					<%= f.text_field :publisher, value: result[:publisher] %>
				</div>

				<div class="field">
					<%= f.label :published_date %>
					<%= f.text_field :published_date, value: result[:published_date] %>
				</div>	

				<div class="field">
					<%= f.label :description %>
					<%= f.text_field :description, value: result[:description] %>
				</div>

				<div class="field">
					<%= f.label "ISBN" %>
					<%= f.text_field :identifier, value: result[:identifier] %>
				</div>

				<div class="field">
					<%= f.label "Pages" %>
					<%= f.text_field :page_count, value: result[:page_count] %>
				</div>

				<div class="field">
					<%= f.label :catagory %>
					<%= f.text_field :catagory, value: result[:catagory] %>
				</div>

				<div class="submit">
					<%= f.submit "Add Book to Library" %>
				</div>

			</div><!-- end .data -->			

		<% end %>

	<% end %>

</div>