<div class="volume">

	<% @filtered_results["volumes"].each do |result| %>

		<%= form_for Book.new do |f| %>

			<%= f.text_field :title, value: result[:title] %>
			<%= f.text_field :subtitle, value: result[:subtitle] %>
			<%= f.text_field :authors, value: result[:authors] %>
			<%= f.text_field :publisher, value: result[:publisher] %>
			<%= f.text_field :published_date, value: result[:published_date] %>
			<%= f.text_field :description, value: result[:description] %>
			<%= f.text_field :type, value: result[:type] %>
			<%= f.text_field :identifier, value: result[:identifier] %>
			<%= image_tag "https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=https://books.google.ca/books?id=#{result[:id]}&source=qrcode" %>
			<%= image_tag "http://bks4.books.google.ca/books/content?id=#{result[:id]}&printsec=frontcover&img=1&zoom=1&source=gbs_api" %>

		<% end %>

	<% end %>

</div>