<div class="book">

	<% copies = BookCopy.where(book_id: @book.id)%>
	<% copies_count = copies.count %>
	<% checked_out = 0 %>

	<% copies.each {|copy| checked_out += 1 if CheckOut.find_by(book_copy_id: copy.id)} %>

		<div class="cover_image"><%= @book.cover_image %></div>
		<div class="qr_code"><%= @book.qr_code %></div>

		<h3><%= @book.title %></h3>
		<p class="subtitle"><%= @book.subtitle %></p>
		<p><strong>Author:</strong> <%= @book.author %><br />
		<strong>Publisher:</strong> <%= @book.publisher %><br />
		<strong>Published:</strong> <%= @book.published_date %><br />
		<strong>ISBN:</strong> <%= @book.type %> <%= @book.indetifier %><br />
		<strong>Subject:</strong> <%= @book.category %><br />
		<strong>Pages:</strong> <%= @book.page_count %></p>

		<div class="description">
			<p><%= @book.description %></p>
		</div>

		<br /><p><%= @copies_available %> copies are available for checkout.<br /> 
		(<%= Hold.where(book_id: @book.id).count %> holds, <%= @checked_out %> checked out.)</p>

	<% unless @due_dates == [] %>
	  
	  <ul>Currently checked out copies are due back:
	  	<% @due_dates.sort.each do |due_date| %>
	    	<li><%= due_date.strftime("%A, %b %e, %Y") %></li>
	  	<% end %>
	  </ul>

	<% end %>
	
	<div class="book-links">

		<% if current_user && Hold.where(book_id: @book.id).find_by(user_id: current_user.id) %>
		  <p><%= "You have this book on hold. You are ##{@holds.find_index {|hold| hold.user_id == current_user.id} + 1} in line." %></p> 
			<ul>	
		  	<li><%= link_to "Edit book", edit_book_path %></li>
		  	<li><%= link_to "Back to Catalogue", books_path %></li>
		<% elsif %>
		  <ul>
		   	<li><%= link_to "Checkout Book" %></li>
		  	<li><%= link_to "Edit book", edit_book_path %></li>
		 		<li><%= link_to "Back to Catalogue", books_path %></li>
		<% else %>
				<li><%= link_to "Place a hold", new_book_hold_path(book_id: @book.id) %></li>
				<li><%= link_to "Back to Catalogue", books_path %></li>
		  	<li><%= link_to "Edit book", edit_book_path %></li>
		<% end %>
			</ul>
	
	</div><!-- end .book-links -->
	
</div><!-- end .book -->