
<div class="book-links">
	<nav class="book-menu">

	<% if current_user && Hold.where(book_id: @book.id).find_by(user_id: current_user.id) %>
	  <p><%= "You have this book on hold. You are ##{@holds.find_index {|hold| hold.user_id == current_user.id} + 1} in line." %></p>
		<ul>
	  	<li><%= link_to "Edit book", edit_book_path %></li>
	  	<li><%= link_to "Back to Catalogue", books_path %></li>
	<% elsif %>
	  <ul>
	   	<li><%= link_to "Checkout Book", new_check_out_path( book_id: @book.id ) %></li>
	  	<li><%= link_to "Edit book", edit_book_path %></li>
	 		<li><%= link_to "Back to Catalogue", books_path %></li>
	<% else %>
			<li><%= link_to "Place a hold", new_book_hold_path(book_id: @book.id) %></li>
			<li><%= link_to "Back to Catalogue", books_path %></li>
	  	<li><%= link_to "Edit book", edit_book_path %></li>
	<% end %>
		</ul>

	</nav><!-- end .book-menu -->
</div><!-- end .book-links -->

<div class="catalogue">	

	<% copies = BookCopy.where(book_id: @book.id)%>
	<% copies_count = copies.count %>
	<% checked_out = 0 %>

	<% copies.each {|copy| checked_out += 1 if CheckOut.find_by(book_copy_id: copy.id)} %>

	<div class="book-card">

		<img src="http://place-hold.it/128x193" />
		<!-- qr code needed -->

		<div class="data">
			
			<h4><%= @book.title %><br />
			<%= @book.subtitle %></h4>
		
			<p>Author: <%= @book.author %><br />
			Publisher: <%= @book.publisher %><br />
			Published Date: <%= @book.published_date %><br />
			ISBN: <%= @book.indetifier %><br />
			Category: <%= @book.category %><br />
			Page Count: <%= @book.page_count %></p>

		</div><!-- end .data -->	

		<div class="description"><p><%= @book.description %></p></div>
	
	</div><!-- end .book-card -->
</div><!-- end .catalogue -->

<div class="copies">
	
	<p><strong>Book Status:</strong></p><br />

	<p><%= @copies_available %> copies are available for checkout.<br />
	<em>(<%= Hold.where(book_id: @book.id).count %> holds, <%= @checked_out %> checked out.)</em></p><br />

	<% unless @due_dates == [] %>

	  <p><strong>Checked out copies are due back:</strong></p><br />
		
		<ul>	  	
	  	<% @due_dates.sort.each do |due_date| %>
	    	<li><%= due_date.strftime("%A, %b %e, %Y") %></li>
	  	<% end %>
	  </ul>
		
	<% end %>

</div><!-- end .copies -->


