<!-- check out form -->

<%= form_for @check_out do |f| %>

	<div class="field">
		<%= f.label :user_id, "User Id" %>
  	<%= f.text_field :user_id %>
  </div>

	<div class="field">
  	<%= f.label :book_copy_id, "Book Copy Id" %>
  	<%= f.text_field :book_copy_id %>
  </div>

  <div class="submit"><%= f.submit "Check Out Book" %></div>

  <div class="qrscanner" style="width: 200px, height:200px, background-color:red"></div>
<script type="text/javascript">

$('.qrscanner').photobooth().on("image",function( event, dataUrl ){
  $( "#gallery" ).append( '<img src="' + dataUrl + '" >');
});

$( '.qrscanner' ).photobooth();
</script>

<% end %>