<h2>Check Out Details</h2>

<div class="check_out_entry">
  <ul>
    <li>
      <strong>Book</strong><br />
      <%= @check_out.book_copy.book.title %><br />
      by: <%= @check_out.book_copy.book.last_name %>, <%= @check_out.book_copy.book.first_name %><br />
      library code: <%= @check_out.book_copy.library_code %>
    </li>

    <li>
      <strong>Borrower</strong><br />
      <%= @check_out.user.last_name %>, <%= @check_out.user.first_name %><br />
      email: <%= @check_out.user.email %><br />
      phone: <%= @check_out.user.phone_number %>
    </li>

    <li>
      <strong>Transaction</strong><br />
      checked out on: <strong><%= @check_out.checkout_date.to_s %></strong><br />

      <% if @check_out.return_date %>
        returned on: <strong><%= @check_out.return_date.to_s %></strong><br />

        <% if @check_out.fine %>
          <% if @check_out.fine.settlement_date %>
            fine amount settled on <%= @check_out.fine.settlement_date.to_s %>
          <% else %>
            outstanding fine of <%= @check_out.fine.amount / 100.0 %>
          <% end %>
        <% end %>

      <% else %>
        due on:
        <strong>
          <%= @check_out.due_date.to_s %>
          <% if DateTime.now.to_time.to_i > @check_out.due_date.to_time.to_i %>
            (BOOK IS DUE)
          <% end %>
        </strong>
      <% end %>
    </li>

  </ul>


  <%= link_to "Back to Check Out Index", check_outs_path %>

  <% if !@check_out.return_date %>
    | <%= link_to "Return Book", check_out_check_in_path( @check_out ), method: :patch %>

    <% if DateTime.now.to_time.to_i < @check_out.due_date.to_time.to_i && @check_out.renewal > 0 %>
      | <%= link_to "Renew Book", check_out_renew_path( @check_out ), method: :patch %>
    <% end %>

  <% elsif @check_out.fine && !@check_out.fine.settlement_date %>
    | <%= link_to "Settle Fine", check_out_fine_path( @check_out, @check_out.fine ), method: :patch %>
  <% end %>
</div>
