<% if t.settlement_date %>
  <td><%= t.settlement_date.strftime("%b %e, %Y") %></td>
  <td>
    <% if t.notes == "cash" %>
      <%= "Cash" %>
    <% elsif t.notes == "credit card, in-person" %>
      <%= "Paid by credit card, in-person via machine." %>
    <% else %>
      <%= link_to "Online Payment", charge_path(id: t.notes) %>
    <% end %>
  </td>
<% else %>
  <td>UNPAID</td>
  <% if current_user.role == "admin" || current_user.role == "volunteer" %>
    <td><%= link_to "Enter Payment", edit_transaction_path(t) %></td>
  <% else %>
    <td><%= link_to "Pay Owing", new_charge_path, class: "pay-owing" %></td>
  <% end %>
<% end %>