<% if t.settlement_date %>
  <td><%= t.settlement_date.strftime("%b %e, %Y") %></td>
  <td>
    <% if t.notes == "Online Payment" && current_user.role == "admin" %>
      <%= link_to "Refund this online payment", charge_path(id: t.charge_id) %>
    <% elsif["Cash", "Credit Card, In-Person", "Online Payment"].include?(t.notes) %>
      <%= t.notes %>
      <% if t.class == Deposit %>
        <td><%= button_to "Delete Payment", deposit_path(t), :method => 'delete' %></td>
      <% else %>
        <td><%= button_to "Delete Payment", member_fee_path(t), :method => 'delete' %></td>
      <% end %>
    <% else %>
      <%= "Waived - " + t.notes  %>
    <% end %>
  </td>
<% else %>
  <td>UNPAID</td>
  <% if current_user.role == "admin" || current_user.role == "volunteer" %>
    <% if t.class == MemberFee %>
      <td><%= button_to "Enter Payment", edit_member_fee_path(t) %></td>
    <% else %>
      <td><%= button_to "Enter Payment", edit_deposit_path(t) %></td>
    <% end %>
  <% else %>
    <td><%= button_to "Pay Owing", new_charge_path, class: "pay-owing" %></td>
  <% end %>
<% end %>