<div class="transactions">
  <table id="transactions-table">
  <tr>
    <% if current_user.role == "admin" || current_user.role == "volunteer" %>
    <th scope="col">User Name</th>
    <th scope="col">User ID</th>
    <% end %>
    <th scope="col">Date</th>
    <th scope="col">Description</th>
    <th scope="col">Amount</th>
    <% if request.original_url == transactions_url %>
      <th scope="col">Paid</th>
      <th scope="col">Payment Method</th>
    <% end %>
  </tr>
  <% @transactions.each do |t| %>
    <tr class="transaction-item">
        <% if current_user.role == "admin" || current_user.role == "volunteer" %>
          <% user = User.find(t.user_id) %>
          <td><%= user.first_name + " " + user.last_name %></td>
          <td><%= user.id %></td>
        <% end %>
        <td><%= t.updated_at.strftime("%b %e, %Y") %></td>
        <% if t.class == MemberFee %>
            <td class="member-fee">
              <% if t.user.membership == "monthly" && t.amount != 1000  %>
                <%= t.created_at.strftime("%b") + " Initial Monthly Membership Fee - Prorated From Start of Month" %>
              <% elsif t.user.membership == "annual" && t.amount != 10000 %>
                <%= t.created_at.strftime("%b") + " Initial Annual Membership Fee - Prorated From Start of Month" %>
              <% elsif t.amount == 1000 %>
                <%= t.created_at.strftime("%b") + " Monthly Membership Fee" %>
              <% else %>
                <%= t.created_at.strftime("%Y") + " Annual Membership Fee" %>
              <% end %>
            </td>
        <% else %>
            <td class="deposit">
              <%= "Deposit top up to $40" %>
            </td>
        <% end %>
        <td><%= number_to_currency(sprintf("%.2f", t.amount.to_f / 100)) %></td>
        <% if request.original_url == transactions_url %>
          <%= render partial: 'transactions/payment_info', locals: { t: t } %>
        <% end %>
    </tr>
  <% end %>
  </table>
</div>