<tr class="transaction-item">
  <% @transactions.each do |t| %>
    <% if t.class == MemberFee %>
        <td class="member-fee">
          <% if t.amount == 1000 %>
            <%= t.created_at.strftime("%b") + " Monthly Membership Fee" %>
          <% else %>
            <%= t.created_at.strftime("%Y") + " Annual Membership Fee" %>
          <% end %>
        </td>
    <% else %>
        <td class="deposit">
          <%= "Deposit top up to $40" %>
        </td>

    <% end %>
    <td><%= t.amount %></td>
    <% if t.settlement_date %>
      <td><%= t.settlement_date.strftime("%b %e, %Y") %></td>
      <td>
        <% if t.charge_id %>
          <%= link_to "Card", charge_path(t.charge_id) %>
        <% else %>
          <%= "Cash" %>
        <% end %>
      </td>
    <% else %>
      <td>UNPAID</td>
      <td><%= link_to "Pay Now", new_charge_path, class: "pay-now" %></td>
    <% end %>
  <% end %>
</tr>