<h1>Update Transaction</h1>
<%= render "transaction" %>
<p>Mark this payment as paid by:</p>
<ul>
  <%= form_for @transactions do |f| %>
  <%= f.select "notes", ["cash", "credit card, in-person"] %>
  <%= f.submit %>
<% end %>
  <li><%= link_to "Pay now by entering credit card info online", new_charge_path(@transactions[0].user_id) %></li>
</ul>
<p>Waive this transaction</p>
<p>Delete this transaction</p>