<h1>Transaction Details</h1>
<%= render "transactions/transaction"%>
<ul class="card-transaction">
  <li><%= number_to_currency(sprintf("%.2f", @charge.amount.to_f / 100)) %></li>
  <li>Paid by: <%= @charge.source[:brand] %></li>
  <li>Last 4 digits: <%= @charge.source[:last4] %></li>
  <% if @charge.amount_refunded == 0 %>
    <li><%= link_to "Refund this transaction", confirm_refund_path(@charge["id"]) %></li>
  <% else %>
    <li>Refunded</li>
  <% end %>
</ul>