<!DOCTYPE html>
<html>
	<head>
	  <title>Hermetic Library Awesome</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrapper">
			<header><h1>Hermetic Library Awesome</h1></header>
			
			<nav>
				<ul>
				  <% if current_user == nil %>
						<li><%= link_to "Login", :login %></li>				  	
				  <% elsif current_user.role == 'admin' %>
				  	<li><%= current_user.first_name %> <%= current_user.last_name %></li>
				  	<!--<li><#%= link_to "Checkout", checkout_out_path %></li>-->						
				  	<li><%= link_to "Admin Panel", user_path(current_user.id) %></li> 
				   	<li><%= link_to "Logout", :logout, method: :post %></li> 
				  <% else current_user.role == 'user' %>
				    <li><%= current_user.first_name %> <%= current_user.last_name %></li>						
				  	<li><%= link_to "User Profile", user_path(current_user.id) %></li> 
				   	<li><%= link_to "Logout", :logout, method: :post %></li> 
				  <% end %>
				  </ul>
			</nav>
			<div>
			  <p id="notice"><%= flash[:notice] %></p>
			  <p id="alert"><%= flash[:alert] %></p>
			</div>

			<div id="main-content">

  			<%= yield %>

			</div><!-- end #main-content -->
		</div><!-- end #wrapper -->
	</body>
</html>
