<!DOCTYPE html>
<html>
	<head>
	  <title>THS Library System</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<header><h1>THS Library System</h1></header>

		<nav class="main-nav">
		  <% if current_user %>
				<%= link_to "Add Book", new_book_path %>
		   	<%= link_to "Logout", :logout, method: :post %>
		  <% else %>
		    <%= link_to "Register", new_user_path %> |
		    <%= link_to "Login", :login %>
		  <% end %>
		</nav><!-- end .main-nav -->
		<div>
		  <p id="notice"><%= flash[:notice] %></p>
		  <p id="alert"><%= flash[:alert] %></p>
		</div>
		  
		<%= yield %>

	</body>
</html>
